body{
font-family:Arial;
background:#f4f4f4;
text-align:center;
margin:0;
}

header{
background:#2196F3;
color:white;
padding:20px;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
font-size:18px;
}

input{
width:250px;
padding:10px;
margin:5px;
}

button{
background:green;
color:white;
padding:10px 20px;
border:none;
cursor:pointer;
font-size:16px;
}

button:hover{
background:darkgreen;
}
